<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JSONSTARWARSios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>081756231CF3D575004AF0E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>081756391CF3D575004AF0E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>081756441CF3D575004AF0E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
